              <div class="masonry-item col-md-12">
                <div class="bgc-white p-20 bd">
                  <h6 class="c-grey-900">Login successful</h6>
                  <div class="mT-30">
                  
                    <div id="input">                  

                    <p>You are now logged in.</p>
                    
                    </div>
  
                  </div>
                </div>
              </div>

<div class="masonry-item col-md-3">
     <div class="layers bd bgc-white p-20">
        <div class="layer w-100 mB-10">
            <h6 class="lh-1"><a href="index.php?path=downloads/private"><img src="img/storage.svg" width="60px"/>Downloads</a></h6>
        </div>
      </div>
</div>

<div class="masonry-item col-md-3">
     <div class="layers bd bgc-white p-20">
        <div class="layer w-100 mB-10">
            <h6 class="lh-1"><a href="index.php?path=teprolin/complete"><img src="img/processing.svg" width="60px"/>&nbsp;Text analysis</a></h6>
        </div>
      </div>
</div>

<div class="masonry-item col-md-3">
     <div class="layers bd bgc-white p-20">
        <div class="layer w-100 mB-10">
            <h6 class="lh-1"><a href="index.php?path=corola/about"><img src="img/binary.png" width="60px"/>CoRoLa</a></h6>
        </div>
      </div>
</div>

<div class="masonry-item col-md-3">
     <div class="layers bd bgc-white p-20">
        <div class="layer w-100 mB-10">
            <h6 class="lh-1"><a href="index.php?path=rown/queryp"><img src="img/network.svg" width="60px"/>RoWordNet</a></h6>
        </div>
      </div>
</div>
