              <div class="masonry-item col-md-12">
                <div class="bgc-white p-20 bd">
                  <h6 class="c-grey-900">Account logged out</h6>
                  <div class="mT-30">
                  
                    <div id="input">                  

                    <p>You are now logged out.</p>
                    
                    <p>Thank you for visiting!</p>
                    
                    </div>
  
                  </div>
                </div>
              </div>
