              <div class="masonry-item col-md-12">
                <div class="bgc-white p-20 bd">
                  <h6 class="c-grey-900">Password change successful</h6>
                  <div class="mT-30">
                  
                    <div id="input">                  

                    <p>Your account password was changed successfully.</p>
                    
                    <p>Enjoy!</p>
                    
                    </div>
  
                  </div>
                </div>
              </div>
