<!-- Introduction -->
<div class="masonry-item col-md-12"><div class="bgc-white p-20 bd"><h6 class="c-grey-900">RELATE - Romanian Portal of Language Technologies</h6><div class="mT-30">

<div style="text-align:center; display:inline-block; float:left; margin:20px;">
<img id="imgArchitecture" src="components/platform/img/architecture.png" width="400px"/><br/>
<b>RELATE Architecture</b><br/> (click to zoom)
</div>

<p>

RELATE is a Romanian language technology platform
 integrating different state-of-the art
tools, algorithms, models and language resources for processing the Romanian language.
The modules are developed either in-house or by our partners in different
research projects. Please check each page for appropriate references. 
The modular architecture (see the diagram) allows chaining the available modules into custom pipelines providing advanced language processing capabilities.
<br/><br/>
The platform allows direct interaction with Romanian language tools for annotating and processing data. 
For small data sizes it is possible to directly invoke the modules from the web interface in an interactive way.
For larger data volumes, the internal platform components allow creating corpora of any size and execute parallel processing pipelines.
The platform is open to the public for research purposes (including the internal part, following an account request).
<br/><br/>
Platform development takes place at GitHub: <a href="https://github.com/racai-ai/relate" target="_blank">https://github.com/racai-ai/relate</a>

</p>

</div></div></div>


<!-- Featured components -->
<div class="masonry-item col-md-12"><div class="bgc-white p-20 bd"><h6 class="c-grey-900">Featured components</h6><div class="mT-30">

<p>
<b><a href="index.php?path=teprolin/complete">TEPROLIN</a></b> is a web service providing lemmatization, part-of-speech tagging, dependency parsing.
The processing flow can be <a href="index.php?path=teprolin/custom">customized</a> if needed.
</p>

<p>
<b><a href="index.php?path=ner/demo">Domain-specific Named Entity Recognition (NER)</a></b> provides the ability to recognize named entities in domain-specific text, such as legal-domain or biomedical text.
</p>


<p>
<b><a href="index.php?path=speech/wav2vec2">Automatic Speech Recognition (ASR)</a></b> services are available based on different models.
The current best model available in RELATE is based on a WAV2VEC2 model adaptation.
</p>


<p>
<b><a href="index.php?path=corola/about">CoRoLa</a></b> is the Representative Corpus of Contemporary Romanian Language. 
The different query interfaces associated with the corpus can be accessed through RELATE. 
</p>

<p>
<b><a href="index.php?path=lrlt/models">Resources and Models</a></b> for the Romanian language can be accessed or downloaded. 
</p>

<p>For the full list of components, check the menu on the left.</p>

</div></div></div>



<!-- Scientific papers -->
<div class="masonry-item col-md-12"><div class="bgc-white p-20 bd"><h6 class="c-grey-900">Scientific papers</h6><div class="mT-30">

<p>The papers listed here are dedicated to the platform architecture and usage scenarios. 
For details about individual components, check each component's page for appropriate references.
When using the platform for research work, please cite one or more of the below papers and one or more papers covering the specific components 
used in your research.
</p>

<div id="bibtex" ></div>

</div></div></div>
