              <div class="masonry-item col-md-12">
                <div class="bgc-white p-20 bd">
                  <h6 class="c-grey-900">Pre-Trained Language Models</h6>
                  <div class="mT-30">
                    
<p><b>Annotation models for lemma, UPOS, XPOS and dependency parsing (where supported) trained on RRT UD 2.7.</b></p>
<ul>
   <li>Stanza <a href="resources/models/ud27_stanza.zip">Download (756Mb)</a></li>
   <li>RNNTagger <a href="resources/models/ud27_rnntagger.zip">Download (668Mb)</a></li>
   <li>NLP-Cube <a href="resources/models/ud27_nlpcube.zip">Download (345Mb)</a></li>
   <li>UDPipe <a href="resources/models/ud27_udpipe.zip">Download (13Mb)</a></li>
   <li>TreeTagger <a href="resources/models/ud27_treetagger.zip">Download (1.4Mb)</a></li>
   <li>Scripts used in training and evaluating the models are available in our GitHub <a href="https://github.com/racai-ai/RoBLARK_evaluation" target="_blank">here</a>.</li>
   <li>A working version of the TTL tool is available in the <a href="https://github.com/racai-ai/TEPROLIN" target="_blank">TEPROLIN service repository</a>.</li> 
   <li>For downloading the corpus visit the <a href="https://universaldependencies.org/" target="_blank">Universal Dependencies website</a> or directly download UD 2.7 treebanks from <a href="http://hdl.handle.net/11234/1-3424" target="_blank">http://hdl.handle.net/11234/1-3424</a>.</li> 
</ul>   
<br/><br/>

<p><b>Word Embeddings from the CoRoLa project</b></p>
<ul>
    <li>All word embeddings from the CoRoLa project can be downloaded and used interactively <a href="http://corolaws.racai.ro/word_embeddings/" target="_blank">here</a>.</li>
    <li>The recommended model, according to a number of experiments, can be downloaded directly from <a href="http://corolaws.racai.ro/word_embeddings/we/corola.300.20.vec.zip">here</a>.</li>
</ul>


                  </div>
                </div>
              </div>
