              <div class="masonry-item col-md-12">
                <div class="bgc-white p-20 bd">
                  <h6 class="c-grey-900">Users</h6>
                  <div class="mT-30">
                  
                    <div id="input">                  

<div id="grid" style="margin:auto;"></div>

<div id="popup-dialog-crud" style="display:none;">
<form id="crud-form">
    <table align="center">
    <tbody>
	<tr>
    <td><label for="name">Name:</label></td>
    <td><input type="text" name="name" id="name" size="50"/></td>
    </tr>

	<tr>
    <td><label for="name">Username:</label></td>
    <td><input type="text" name="username" id="username" size="50"/></td>
    </tr>
	
	<tr>
    <td><label for="name">Password:</label></td>
    <td><input type="password" name="password" id="password" size="50"/></td>
    </tr>
	
	<tr>
    <td><label for="name">Confirm:</label></td>
    <td><input type="password" name="password2" id="password2" size="50"/></td>
    </tr>
	
	<tr>
    <td><label for="name">Rights:</label></td>
    <td><input type="text" name="rights" id="rights" size="50" value="user"/></td>
    </tr>

    </tbody></table>
</form>
</div>                                      
                    
<div id="popup-dialog-crud-edit" style="display:none;">
<form id="crud-form-edit">
    <table align="center">
    <tbody>
	<tr>
    <td><label for="name">Name:</label></td>
    <td><input type="text" name="name" id="name" size="50"/></td>
    </tr>

	<tr>
    <td><label for="name">Username:</label></td>
    <td><input type="text" name="username" id="username" size="50" disabled="disabled"/></td>
    </tr>
	
	<tr>
    <td><label for="name">Password:</label></td>
    <td><input type="password" name="password" id="password" size="50"/></td>
    </tr>
	
	<tr>
    <td><label for="name">Confirm:</label></td>
    <td><input type="password" name="password2" id="password2" size="50"/></td>
    </tr>
	
	<tr>
    <td><label for="name">Rights:</label></td>
    <td><input type="text" name="rights" id="rights" size="50"/></td>
    </tr>

    </tbody></table>
</form>
</div>                                      
                    </div>
  
                    {{loading}}

                    <div style="display:none" id="output">
                        <div id="output1">
                        </div>
                        
                    </div>


                  </div>
                </div>
              </div>



 