
                    <div style="display:none" id="output">
                        <div style="height: 40px;">
                        <button type="button" id="bOutput1" class="btn cur-p btn-success" onclick="showOutput(1,8);">JSON</button>
                        <button type="button" id="bOutput2"  class="btn cur-p btn-secondary" onclick="showOutput(2,8);">CoNLL-U</button>
                        <button type="button" id="bOutput3"  class="btn cur-p btn-secondary" onclick="showOutput(3,8);">CoNLL-X</button>
                        <button type="button" id="bOutput4"  class="btn cur-p btn-secondary" onclick="showOutput(4,8);">XML</button>
                        <button type="button" id="bOutput5"  class="btn cur-p btn-secondary" onclick="showOutput(5,8);">Text</button>
                        <button type="button" id="bOutput8"  class="btn cur-p btn-secondary" onclick="showOutput(8,8);">Chunks</button>
                        <button type="button" id="bOutput6"  class="btn cur-p btn-secondary" onclick="showOutput(6,8);">Tree</button>
                        <button type="button" id="bOutput7"  class="btn cur-p btn-secondary" onclick="showOutput(7,8);">Entities</button>
                        </div>
                        <div style="margin-top:10px; height:calc(100% - 40px);">
                        <div id="output1">
                            <textarea id="outputJSON" style="width:100%; height:350px">{ output JSON }</textarea>
                            <br/>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="saveTextAsFile('outputJSON','output_json.json','text/json');">Download</button>
                        </div>
                        <div style="display:none" id="output2">
                            <textarea id="outputCONLLU" style="width:100%; height:350px; font-family: monospace;">output CONLLU</textarea>
                            <br/>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="saveTextAsFile('outputCONLLU','output_conllu.txt','text/plain');">Download</button>
                        </div>
                        <div style="display:none" id="output3">
                            <textarea id="outputCONLLX" style="width:100%; height:350px; font-family: monospace;">output CONLLX</textarea>
                            <br/>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="saveTextAsFile('outputCONLLX','output_conllx.txt','text/plain');">Download</button>
                        </div>
                        <div style="display:none" id="output4">
                            <textarea id="outputXML" style="width:100%; height:350px">output XML</textarea>
                            <br/>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="saveTextAsFile('outputXML','output_xml.xml','text/xml');">Download</button>
                        </div>
                        <div style="display:none" id="output5">
                            <textarea id="outputText" style="width:100%; height:350px">Original Text</textarea>
                            <br/>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="saveTextAsFile('outputText','output_text.txt','text/plain');">Download</button>
                        </div>

                        <div style="display:none" id="output6">
                            <button type="button" id="bOutputTreeLeft"  class="btn cur-p btn-secondary" onclick="TreePrevSent();">&lt;</button>
                            <div id="outputTreeSent" style="display:inline-block; width:80%; height: 50px; overflow:auto;"></div>
                            <button type="button" id="bOutputTreeRight"  class="btn cur-p btn-secondary" onclick="TreeNextSent();">&gt;</button>
                            <div>
                            <div id="outputTree" style="height:300px; display:inline-block; width:79%; border:1px solid blue;"></div>
                            <div id="treeNodeProperties" style="height:300px; display:inline-block; width:19%; vertical-align:top; overflow:auto">Click on a node to see details</div>
                            </div>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="saveTextAsFile(null,'output_tree.png','image/octet-stream',currentTreeNetwork.canvas.body.container.childNodes[0].canvas.toDataURL().replace('image/png', 'image/octet-stream'));">Download</button>
                            
                        </div>

                        <div style="display:none" id="output7">
                             <iframe style="width:100%; height:100%; border:0" id="bratIframe" name="bratIframe"></iframe>
                             <div style="display:none">
                                <form method="post" target="bratIframe" action="client_brat.php" id="bratForm">
                                    <input type="hidden" name="data" value="" id="bratData"/>
                                </form>
                             </div>
                        </div>

                        <div style="display:none" id="output8">
                        </div>

                        </div>
                        
                        <div id="popupIFrameDiv" style="display:none; background-color:white;">
                            <div style="background-color:white;"><button type="button"  class="btn cur-p btn-secondary" onclick="hidePopupIFrame();">Back</button></div>
                            <iframe style="width:100%; height: 100%;" id="popupIFrame" src=""></iframe>
                        </div>
                        
                    </div>                    
