
              <div class="masonry-item col-md-12">
                <div class="bgc-white p-20 bd">
                  <h6 class="c-grey-900">Projects Overall Reports
                  </h6>
                  <div class="mT-30" style="height:1100px;">

                   {{LOADING}}
                    
<!-- AICI INCEPE ZONA DE BUTOANE -->


                    <div style="display:block" id="output">
                        <div style="height: 40px;">
                        <button type="button" id="bOutput1"  class="btn cur-p btn-success" onclick="showOutput(1,4,'reports');" >Reports</button>
                        <button type="button" id="bOutput2"  class="btn cur-p btn-secondary" onclick="showOutput(2,4,'reportsgen');" >Generated Reports</button>
                        <button type="button" id="bOutput3"  class="btn cur-p btn-secondary" onclick="showOutput(3,4,'properties');" style="{{hidepropertiesbutton}}">Properties</button>
                        <button type="button" id="bOutput4"  class="btn cur-p btn-secondary" onclick="showOutput(4,4,'rights');" style="{{hiderightsbutton}}">Rights</button>
                        </div>
                        <div style="margin-top:10px; height:calc(100% - 40px);">  <!-- Output Area -->
                                                
                        <!-- Reports -->
                        <div id="output1" style="display:auto">
                                <div id="gridReports" style="margin:auto;"></div>
                                                                
                                <div id="reportsadd-dialog" style="display:none;">
                                <form id="reportsadd-form" method="POST" enctype="multipart/form-data" action="index.php">
                                    <input type="hidden" name="path" value="projects/overall_report_add">
                                    <table align="center"><tbody>
                                        <tr><td>Name:</td><td><input type="text" name="name" size="50"/></td></tr>
                                        <tr><td>File:</td><td><input type="file" id="fileReport" name="file" size="50" accept="application/docx, application/xlsx"/></td></tr>
                                        <tr><td>Description:</td><td><textarea name="description" rows="4" cols="50"></textarea></td></tr>
                                    </tbody></table>
                                </form>
                                </div>                                      


                        </div>

                        <!-- Reports Generated -->
                        <div id="output2" style="display:none">
                                <div id="gridReportsGenerated" style="margin:auto;"></div>
                                                                
                                <div id="reportsGenerateMonth-dialog" style="display:none;">
                                <form id="reportsGenerateMonth-form" method="POST" enctype="multipart/form-data" action="index.php">
                                    <input type="hidden" name="path" value="projects/overall_report_generate">
                                    <input type="hidden" name="gentype" value="month">
                                    <table align="center"><tbody>
                                        <tr><td>Report:</td><td><select name="name">{{PROJECT_REPORTS}}</select></td></tr>
                                        <tr><td>Month:</td><td><input type="month" name="month" /></td></tr>
                                        <tr><td>Person:</td><td><select name="person">
                                            <option value="ALL">ALL</option>
                                        </select></td></tr>
                                        <tr><td>Sign Date:</td><td><input type="date" name="signdate" /></td></tr>
                                    </tbody></table>
                                </form>
                                </div>                                      

                        </div>
                                                
                        <!-- PROPERTIES -->
                        <div style="display:none" id="output3">
                            <form id="projectPropertiesForm" method="POST" enctype="multipart/form-data" action="index.php">
                                <input type="hidden" name="path" value="projects/project_set_properties">
                                <input type="hidden" name="project" value="{{PROJECT_NAME}}">
                                
                                <table align="center">
                                <tbody>
                                <tr>
                                    <td><label for="propdesc">Description:</label></td>
                                    <td><textarea name="propdesc" id="propdesc" rows="4" cols="50">{{propdesc}}</textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align:center">
                                        <input type="submit" name="submit" value="SAVE"/>
                                    </td>
                                </tr>
                                </tbody></table>
                                
                            </form>
                        </div>
                        
                        <!-- Rights -->
                        <div style="display:none" id="output4">
                                <div id="gridRights" style="margin:auto;"></div>

                                <div id="popup-dialog-crud-rights" style="display:none;">
                                <form id="crud-form-rights" method="POST" enctype="multipart/form-data" action="index.php" onsubmit="return false;">
                                    <table align="center"><tbody>
                                        <tr><td><label for="username_pattern">Username Pattern:</label></td>
                                            <td><input type="text" name="username_pattern" id="username_pattern" size="50"></td>
                                        </tr>
                                        <tr><td><label for="rights">Rights:</label></td>
                                            <td><select name="rights">
                                                <option value="admin">Admin</option>
                                                <option value="readwrite">Read and Write</option>
                                                <option value="read">Read only</option>
                                            </select>
                                            </td>
                                        </tr>
                                        <tr><td colspan="2">
                                        The username pattern is a regular expression. A complete username means an exact match. 
                                        ".*" means everyone. 
                                        ".*@racai[.]ro" means everyone with an email address in the racai.ro domain.
                                        Don't enter the quotes. 
                                        The pattern will be applied as preg_match("/^&lt;PATTERN&gt;$/i"). The "i" indicates case-insensitive match.
                                        </td></tr>
                                    </tbody></table>
                                </form>
                                </div>                                      
                        </div>
                        
                        
                        
                        </div> <!-- End Output Area -->
                        
                    </div>                    
                    
                    
                    
<!-- AICI SE TERMINA ZONA DE BUTOANE -->

                  </div>
                </div>
              </div>
