              <!-- <div style="display:inline-block; width:70%; margin:5px;"> -->
              <div class="masonry-item col-md-12">
                <div class="bgc-white p-20 bd">
                  <h6 class="c-grey-900">Materiale Educaționale abordând Inteligența Artificială pentru școli</h6>
                  <div class="mT-30">

<div style="text-align:center; display:inline-block; float:left; margin:20px;">
<img id="imgArchitecture" src="components/edu/img/pexels-pixabay-261895.jpg" width="400px"/><br/>
<b></b><br/>
</div>

<p>

Inteligența artificială (IA), utilizată în mod responsabil, poate fi de un real ajutor în procesul de învățământ. 
Copiii pot învăța mai ușor sau într-un mod mai distractiv. 
Profesorii pot realiza mai ușor și mai repede materiale educaționale. 
<br/><br/>
Pe de altă parte, utilizarea IA în mod abuziv, de exemplu pentru a rezolva teme sau a genera compuneri, poate avea consecințe nefaste. 
Copiii nu învață materia, evaluarea temelor și a compunerilor își pierde din relevanță.
<br/><br/>
Este important să fie înțelese conceptele IA atât de elevi cât și de profesori, iar introducerea elementelor de IA în procesul de învățământ să fie realizată într-un mod responsabil.
</p>

</div></div></div>


<!-- Materiale -->
<div class="masonry-item col-md-12"><div class="bgc-white p-20 bd"><h6 class="c-grey-900">Materiale educaționale</h6><div class="mT-30">

<p>
În cadrul acestei platforme educaționale, dezvoltată de Institutul de Cercetări pentru Inteligența Artificială (ICIA), ne dorim să promovăm utilizarea sigură și responsabilă a IA.
Vă invităm să accesați materialele educaționale puse la dispoziție.
</p>


<p>
Materiale pentru <b><a href="index.php?path=edu/ai_scoli_elevi">elevii de școală</a></b>.
</p>

<p>
Materiale pentru <b><a href="index.php?path=edu/ai_scoli_profesori">profesori</a></b>.
</p>
</div></div></div>

<div class="masonry-item col-md-12"><div class="bgc-white p-20 bd"><div class="mT-30">
<p><small>Photo by Pixabay: https://www.pexels.com/photo/boy-standing-near-bookshelf-261895/</small></p>
</div></div></div>
