              <div class="masonry-item col-md-12">
                <div class="bgc-white p-20 bd">
                  <h6 class="c-grey-900">ROBIN ASR (Automatic Speech Recognition) Development</h6>
                  <div class="mT-30">

                    {{loading}}
                  
                    <div id="output">                  
                        <div style="height: 40px;">
                        <button type="button" id="bOutput1"  class="btn cur-p btn-success"   onclick="showOutput(1,3,'file');">File</button>
                        <button type="button" id="bOutput2"  class="btn cur-p btn-secondary" onclick="showOutput(2,3,'recording');">Recording</button>
                        <button type="button" id="bOutput3"  class="btn cur-p btn-secondary" onclick="showOutput(3,3,'results');">Results</button>
                        </div>
                        <div style="margin-top:10px; height:calc(100% - 40px);">  <!-- Output Area -->

												<div id="output1"> <!-- File -->
		                        <form id="asr-form" enctype="multipart/form-data">
		                            <p>Selectati un fisier WAV asociat unui text in limba romana. Este indicat sa fie inregistrat cat mai clar.</p>
																<p>Aceasta este versiunea in curs de dezvoltare</p>                    
		                            <input type="file" id="asrfile" name="asrfile" accept="audio/wav, audio/x-wav" class="form-control-file"/>
		                            <input type="hidden" name="path" value="robinasrwsdev"/>
		                            <br/>
		                            <button type="button"  class="btn cur-p btn-secondary" onclick="runASR();">Run ASR</button>
		                        </form>
		                    </div>
		                    
		                    <div id="output2" style="display:none"> <!-- RECORDING -->
															<p>Aceasta este versiunea in curs de dezvoltare</p>                    
															<div id="divRecorderControls" style="text-align:center">
																	<button type="button" id="bStartRecorder" class="btn cur-p btn-danger" style="width:100px; text-align:center" onclick="startRecorder();">START</button>
																	<div id="divRecording" style="display:none; font-color:red; width:100px;">Recording ...</div>
																	<button type="button" id="bStopRecorder" class="btn cur-p btn-danger" onclick="stopRecorder();">STOP</button>
															</div>
															
															<div>
															<br/><br/><br/><br/>
															<ul>
																	<li>This app was tested on the Chrome Browser</li>
																	<li>For better results use headphones with mic for recording</li>
																	<li>If not using headphones, <b>TURN OFF YOUR COMPUTER SPEAKERS</b></li>
															</ul>
															</div>
		                    </div>
                    
		                    <div style="display:none" id="output3"> <!-- RESULTS -->
                            <textarea id="outputASR" style="width:100%; height:350px">{ output asr }</textarea>
                            <br/>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="saveTextAsFile('outputASR','output_asr.txt','text/text');">Download</button>
                            <!-- <button type="button"  class="btn cur-p btn-secondary" onclick="runAnother();">New file</button> -->
                            <button type="button"  class="btn cur-p btn-secondary" onclick="runAnalysis();">Analysis</button>
		                    </div>

												</div> <!-- Output area -->
                    </div>
  



                  </div>
                </div>
              </div>
