              <div class="masonry-item col-md-12">
                <div class="bgc-white p-20 bd">
                  <h6 class="c-grey-900">ROBIN TTS (Text-To-Speech)</h6>
                  <div class="mT-30">
                  
                    <div id="input">                  
                                      
                        <form id="asr-form" enctype="multipart/form-data">
                            <label for="speaker">Voce</label>
                            <select name="speaker" id="speaker">
                                  <option value="anca"> Anca </option>    
                  				        <option value="tim"> tim </option>    
                                  <option value="pcs"> pcs </option>    
                                  <option value="fds"> fds </option>    
                                  <option value="ddm"> ddm </option>    
                                  <option value="pmm"> pmm </option>    
                                  <option value="sgs"> sds </option>    
                                  <option value="pss"> pss </option>    
                                  <option value="sam"> sam </option>    
                                  <option value="rms"> rms </option>    
                                  <option value="cau"> cau </option>    
                                  <option value="ips"> ips </option>    
                                  <option value="bas"> bas </option>    
                                  <option value="tss"> tss </option>    
                                  <option value="htm"> htm </option>    
                                  <option value="dcs"> dcs </option>    
                                  <option value="eme"> eme </option>    
                            </select>
                            <br/>
                            <textarea id='text' style='width:100%; height:100px;'></textarea>

                            <br/>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="play();">Run TTS</button>
                        </form>
                    
                    </div>
  
                    {{loading}}

                    <div style="display:none" id="output">
                        <div id="output1">
                            <p>Text:</p>
                            <label id="outputText" style="display:block"></label><br/>
                            <audio id="audioplayer" name="audioplayer" controls></audio>
                            <br/><br/>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="saveTextAsFile('text','input_tts.txt','text/text');">Save text</button>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="runAnother();">New</button>
                            <button type="button"  class="btn cur-p btn-secondary" onclick="runAnalysis();">Analysis</button>
                        </div>
                        
                    </div>



                  </div>
                </div>
              </div>
