<!-- Introduction -->
<div class="masonry-item col-md-12"><div class="bgc-white p-20 bd"><h6 class="c-grey-900"></h6><div class="mT-30">

<div style="text-align:center; display:inline-block; float:left; margin:20px;">
<img id="imgArchitecture" src="components/platform_edu/img/pexels-agk42-2599244.jpg" width="400px"/><br/>
<b></b><br/>
</div>

<p>

Inteligența artificială (IA) a devenit prezentă în toate aspectele vieții noastre. 
Telefoanele, televizoarele, calculatoarele, ceasurile smart, toate sunt dotate IA. 
Acest lucru ne ușurează viața, conducând la imagine și sunet de calitate superioară, recomandări personalizate, acțiuni inteligente, comenzi vocale, răspunsuri utilizând vocea, interacțiuni bazate pe gesturi.
Acestea sunt exemple benefice de utilizare a IA.
<br/><br/>
Pe de altă parte, IA poate fi utilizată în mod abuziv. 
De exemplu, când citim articole online este posibil ca acestea să fi fost prelucrate sau chiar generate (integral sau parțial) cu ajutorul IA.
Deoarece IA nu este conștientă și nu are responsabilități, este foarte probabil ca un articol generat cu IA să conțină greșeli care dacă sunt utilizate în contextul media pot conduce la dezinformări (intenționate sau nu).
Utilizarea IA pe scară largă în rândul studenților poate conduce la o falsă impresie că utilizatorul posedă cunoștințele necesare. 
Folosirea IA pentru pre-selecția CV-urilor poate conduce la discriminări. 
Acestea sunt exemple în care folosirea IA poate fi dăunătoare.
</p>

</div></div></div>


<!-- Materiale -->
<div class="masonry-item col-md-12"><div class="bgc-white p-20 bd"><h6 class="c-grey-900">Materiale educaționale</h6><div class="mT-30">

<p>
În cadrul acestei platforme educaționale, dezvoltată de Institutul de Cercetări pentru Inteligența Artificială (ICIA), ne dorim să promovăm utilizarea sigură și responsabilă a IA.
Vă invităm să accesați materialele educaționale puse la dispoziție.
</p>


<p>
Materiale pentru <b>elevii de <a href="index.php?path=edu/ai_scoli_elevi">școală</a></b> și <b><a href="index.php?path=edu/ai_licee_elevi">liceu</a></b>.
</p>

<p>
Materiale pentru <b>profesorii de <a href="index.php?path=edu/ai_scoli_profesori">școală</a></b> și <b><a href="index.php?path=edu/ai_licee_profesori">liceu</a></b>.
</p>

<p>
Materiale despre <b><a href="index.php?path=edu/unelte_icia">uneltele ICIA</a></b>.
</p>

</div></div></div>

<div class="masonry-item col-md-12"><div class="bgc-white p-20 bd"><div class="mT-30">
<p><small>Photo by Alex Knight: https://www.pexels.com/photo/high-angle-photo-of-robot-2599244/</small></p>
</div></div></div>
